<!-- app/views/categories/index.html.erb -->
<h1>Categories</h1>
<% @categories.each do |category| %>
    <%= link_to category_products_path(category.id) do %>
  <div class="category">
    <%= image_tag category.image %>
    <h2><%= category.name.capitalize %></h2>
   <p><%= category.created_at.strftime("%e, %b %Y") %></p>
   <p>
        
       $ <%= category_products_sum(category.id) %>
       
    </p>
  </div>
  <%end%>
<% end %>





    <button>
            <%= link_to "Add new category", new_category_path %>
     </button>