<!-- app/views/categories/new.html.erb -->
<%= render partial: 'shared/nav', locals: { h1_content: "Categories" } %>
<button class='cat_back'>
  <%= link_to "Back", categories_path %>
</button>

<section class='cat_form'>
  <%= form_with model: @category, url: categories_path, multipart: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :image, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Create Category" %>
  </div>
<% end %>
</section>


