<button>
    <%= link_to "Back", categories_path %>
</button>

<div>
  <h2>
    <%= @category_name%>
  </h2>
  <p>
    $ <%= @products.sum(:amount)%>
  </p>

</div>



<% @products.each do |product| %>
     <div class="product">

    <p><%= product.name.capitalize %></p>
      <p>$ <%= product.amount %></p>
  </div>

<% end %>

  <button>
    <%= link_to "Add transactions", new_category_product_path %>
  </button>